{{#each this}}
<li class="gallery-item">
<div class="photo-card">
<img src={{webformatURL}} alt="" />

  <div class="stats">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i><br>
{{likes}}
</br>
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      <br>{{views}}</br>
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      <br>{{comments}}</br>
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
      <br>{{downloads}}</br>
    </p>
  </div>
</div>
</li>
{{/each}}